In [2]:
import pandas as pd
import numpy as np

data = pandas.read_csv("../기존 입지 분석 이용 데이터/서울시 대로변 횡단보도 위치정보.csv", index_col=0, encoding = 'cp949')
data.head()

,노드 WKT,노드 ID,노드 유형 코드,링크 WKT,링크 ID,링크 유형 코드,시작노드 ID,종료노드 ID,링크 길이,시군구코드,시군구명,읍면동코드,읍면동명
노드링크 유형,,,,,,,,,,,,,
LINK,NaN,0,NaN,LINESTRING(126.9657085816752 37.59262760480967...,150656,1000.0,128796.0,128797.0,13.925,1111000000,종로구,1111018400,부암동
LINK,NaN,0,NaN,LINESTRING(127.01248914183903 37.5700264102462...,15246,1011.0,195179.0,10365.0,14.260,1111000000,종로구,1111017400,창신동
LINK,NaN,0,NaN,LINESTRING(126.96929248902234 37.5754325586161...,192933,1000.0,129904.0,129905.0,22.748,1111000000,종로구,1111011300,필운동
LINK,NaN,0,NaN,LINESTRING(126.99458763438037 37.5687122643109...,13878,1011.0,93336.0,10351.0,55.531,1111000000,종로구,1111015400,장사동
LINK,NaN,0,NaN,LINESTRING(126.9774587328279 37.56933658735303...,73485,1011.0,10336.0,10337.0,24.904,1111000000,종로구,1114010300,태평로1가

In [5]:
data = data[data['시군구명']=='강남구']
data.head()

,노드 WKT,노드 ID,노드 유형 코드,링크 WKT,링크 ID,링크 유형 코드,시작노드 ID,종료노드 ID,링크 길이,시군구코드,시군구명,읍면동코드,읍면동명
노드링크 유형,,,,,,,,,,,,,
LINK,NaN,0,NaN,LINESTRING(127.04260922925265 37.5022828240760...,67599,1000.0,102143.0,102144.0,63.389,1168000000,강남구,1168010100,역삼동
NODE,POINT(127.05296109655878 37.48634860944576),121586,0.0,NaN,0,NaN,NaN,NaN,NaN,1168000000,강남구,1168011800,도곡동
NODE,POINT(127.05266515854537 37.486167945441835),121585,0.0,NaN,0,NaN,NaN,NaN,NaN,1168000000,강남구,1168011800,도곡동
NODE,POINT(127.05383024400355 37.48888165268211),121584,0.0,NaN,0,NaN,NaN,NaN,NaN,1168000000,강남구,1168011800,도곡동
NODE,POINT(127.0607333539185 37.51410956560504),204963,0.0,NaN,0,NaN,NaN,NaN,NaN,1168000000,강남구,1168010500,삼성동

In [8]:
import pandas as pd
gn_crosswalk = pd.DataFrame()
gn_crosswalk

Empty DataFrame
Columns: []
Index: []

In [26]:
location = data.iloc[0, 3]
location

'LINESTRING(127.04260922925265 37.502282824076026,127.04236823785438 37.502820721040784)'

In [27]:
start = location.find('(')
blank = location.find(' ', 2)
end = location.find(')')

In [28]:
blank

29

In [29]:
location[start+1:blank]

'127.04260922925265'

In [30]:
# 위도 = latitude = 37~
latitude = location[location.find('(')+1:location.find(' ')]
latitude

'127.04260922925265'

In [31]:
longtitude = location[location.find(' ')+1: location.find(')')]
longtitude

'37.502282824076026,127.04236823785438 37.502820721040784'

In [ ]:
for i in range(len(data)):
    if data.loc[i, '로드링크 유형'] == 'NODE':
        location = data.iloc[i, 0]
        gn_crosswalk.loc[i, '위도'] = location[location.find('(')+1:location.find(' ')]
        gn_corsswalk.loc[i, '경도'] = location[location.find(' ')+1: location.find(')')]
    else:
        location = data.iloc[i, ]
        gn_corsswalk.loc[i, '위도'] = 
        gn_corsswalk.loc[i, '경도'] =