In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd

df=pd.read_csv('/content/drive/MyDrive/공모전/광진구/서울시 광진구 학원 교습소정보.csv', encoding='euc-kr')
df

,행정구역명,학원/교습소,학원지정번호,학원명,도로명주소,도로명상세주소,분야명,교습계열명,교습과정목록명,교습과정명,...,인당수강료내용,수강료공개여부,기숙사학원여부,도로명우편번호,등록상태명,등록일자,휴원시작일자,휴원종료일자,개설일자,적재일시
0,광진구,학원,1000041406,생명을살리는수학창의교육보습학원,서울특별시 광진구 구의강변로 106,101동 211호(구의동 삼성쉐르빌),입시.검정 및 보습,보통교과,보습/,보습,...,NaN,Y,N,143723,개원,19850911,NaN,NaN,19850911,20230326
1,광진구,학원,1000041585,시엘음악학원,서울특별시 광진구 용마산로21길 27,2층(중곡동),예능(대),예능(중),NaN,음악,...,NaN,Y,N,143884,개원,19880721,NaN,NaN,19880721,20230326
2,광진구,학원,1000041624,성신에듀학원,서울특별시 광진구 자양로22길 24,3층일부 (구의동),입시.검정 및 보습,보통교과,NaN,보습,...,NaN,Y,N,143826,개원,19881011,NaN,NaN,20110817,20230326
3,광진구,학원,1000041690,청람보습학원,서울특별시 광진구 용마산로 100,(중곡동),입시.검정 및 보습,보통교과,NaN,보습,...,NaN,Y,N,143895,개원,19891129,NaN,NaN,19891129,20230326
4,광진구,학원,1000041715,상명보습학원,서울특별시 광진구 자양로 181-1,/ 1/2/3층 (구의동),입시.검정 및 보습,보통교과,보습/,보습,...,NaN,Y,N,5024,개원,19890504,NaN,NaN,19890504,20230326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
783,광진구,학원,9552,하이클래스보습학원,서울특별시 광진구 뚝섬로 655,(2층) (자양동),입시.검정 및 보습,보통교과,보습/,보습,...,NaN,N,N,143867,개원,20050413,NaN,NaN,20050413,20230326
784,광진구,학원,9556,해법영어최선엘리트학원,서울특별시 광진구 천호대로 136길 46,2층(구의동),입시.검정 및 보습,보통교과,보습/,보습,...,NaN,Y,N,143818,개원,20050406,NaN,NaN,20050406,20230402
785,광진구,학원,9565,에이스에듀케이션학원,서울특별시 광진구 아차산로 471,/ 302호 (구의동/CS PLAZA),국제화,외국어,NaN,실용외국어(유아/초?중?고),...,NaN,Y,N,143822,개원,20050411,NaN,NaN,20050411,20230326
786,광진구,교습소,9661,숨피아노교습소,서울특별시 광진구 동일로26길 46,/ 1층일부 (화양동),예능(대),예능(중),NaN,음악,...,기초(바이엘):120000/ 기초(바이엘):140000/ 초급(체르니100):150...,Y,N,143916,개원,20050324,NaN,NaN,20050324,20230326
787,광진구,학원,9935,한가람보습학원,서울특별시 광진구 영화사로 19,3층 (중곡동),입시.검정 및 보습,보통교과,NaN,보습,...,NaN,Y,N,143888,개원,20050525,NaN,NaN,20050525,20230326

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 788 entries, 0 to 787
Data columns (total 22 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정구역명       788 non-null    object
 1   학원/교습소      788 non-null    object
 2   학원지정번호      788 non-null    int64
 3   학원명         788 non-null    object
 4   도로명주소       788 non-null    object
 5   도로명상세주소     788 non-null    object
 6   분야명         788 non-null    object
 7   교습계열명       779 non-null    object
 8   교습과정목록명     515 non-null    object
 9   교습과정명       779 non-null    object
 10  정원합계        788 non-null    int64
 11  일시수용능력인원합계  786 non-null    float64
 12  인당수강료내용     169 non-null    object
 13  수강료공개여부     750 non-null    object
 14  기숙사학원여부     730 non-null    object
 15  도로명우편번호     788 non-null    int64
 16  등록상태명       788 non-null    object
 17  등록일자        788 non-null    int64
 18  휴원시작일자      3 non-null      float64
 19  휴원종료일자      3 non-null      float64
 20  개설일자        788 non-null    int64
 21  적재일시        788 non-null    int64
dtypes: float64(3), int64(6), object(13)
memory usage: 135.6+ KB

In [ ]:
#필요한 column만 추출
df =df.loc[:,['학원/교습소','학원명','도로명주소','교습과정명']]
df

    학원/교습소               학원명                   도로명주소            교습과정명
0       학원  생명을살리는수학창의교육보습학원     서울특별시 광진구 구의강변로 106               보습
1       학원            시엘음악학원    서울특별시 광진구 용마산로21길 27               음악
2       학원            성신에듀학원     서울특별시 광진구 자양로22길 24               보습
3       학원            청람보습학원      서울특별시 광진구 용마산로 100               보습
4       학원            상명보습학원     서울특별시 광진구 자양로 181-1               보습
..     ...               ...                     ...              ...
783     학원         하이클래스보습학원       서울특별시 광진구 뚝섬로 655               보습
784     학원       해법영어최선엘리트학원  서울특별시 광진구 천호대로 136길 46               보습
785     학원        에이스에듀케이션학원      서울특별시 광진구 아차산로 471  실용외국어(유아/초?중?고)
786    교습소           숨피아노교습소     서울특별시 광진구 동일로26길 46               음악
787     학원           한가람보습학원       서울특별시 광진구 영화사로 19               보습

[788 rows x 4 columns]

In [ ]:
#교습과정명 추출
df['교습과정명'].unique()

array(['보습', '음악', '속셈', '미술', '컴퓨터(정보처리/통신기기/인터넷/소프트웨어)',
       '독서실(유아/초?중?고)', '무용', '간호조무사', nan, '식음료품(바리스타/소믈리에)', '공예',
       '실용외국어(유아/초?중?고)', '통역(성인)', '컴퓨터(소)', '서예', '연극', '만화', '대학편입',
       '보습?논술', '건축', '실용음악(성악)', '어학(성인)', '기타(소)', '부동산', '광업자원',
       '연기(연극/뮤지컬/오페라)', '댄스', '디자인', '애견미용', '무용(전통무용/현대무용)', '기계',
       '독서실(일반인)', '입시?논술', '모델', '정보교과', '로봇', '병원코디네이터', '이?미용', '화술',
       '조경', '주산'], dtype=object)

In [ ]:
#성인 대상 학원 row 삭제
df = df[~df['교습과정명'].str.contains("성인", na=False, case=False)]
df['교습과정명'].unique()

array(['보습', '음악', '속셈', '미술', '컴퓨터(정보처리/통신기기/인터넷/소프트웨어)',
       '독서실(유아/초?중?고)', '무용', '간호조무사', nan, '식음료품(바리스타/소믈리에)', '공예',
       '실용외국어(유아/초?중?고)', '컴퓨터(소)', '서예', '연극', '만화', '대학편입', '보습?논술',
       '건축', '실용음악(성악)', '기타(소)', '부동산', '광업자원', '연기(연극/뮤지컬/오페라)', '댄스',
       '디자인', '애견미용', '무용(전통무용/현대무용)', '기계', '독서실(일반인)', '입시?논술', '모델',
       '정보교과', '로봇', '병원코디네이터', '이?미용', '화술', '조경', '주산'], dtype=object)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 782 entries, 0 to 787
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   학원/교습소  782 non-null    object
 1   학원명     782 non-null    object
 2   도로명주소   782 non-null    object
 3   교습과정명   773 non-null    object
dtypes: object(4)
memory usage: 30.5+ KB

In [ ]:
#데이터프레임 주소값 추출
address = df['도로명주소']
address

0         서울특별시 광진구 구의강변로 106
1        서울특별시 광진구 용마산로21길 27
2         서울특별시 광진구 자양로22길 24
3          서울특별시 광진구 용마산로 100
4         서울특별시 광진구 자양로 181-1
                ...
783         서울특별시 광진구 뚝섬로 655
784    서울특별시 광진구 천호대로 136길 46
785        서울특별시 광진구 아차산로 471
786       서울특별시 광진구 동일로26길 46
787         서울특별시 광진구 영화사로 19
Name: 도로명주소, Length: 782, dtype: object

In [ ]:
####### 도로명주소 위도 경도 값으로 바꿔주기 ########
from geopy.geocoders import Nominatim
geo_local = Nominatim(user_agent='South Korea')

# 위도, 경도 반환하는 함수
def geocoding(address):
    try:
        geo = geo_local.geocode(address)
        x_y = [geo.latitude, geo.longitude]
        return x_y

    except:
        return [0,0]

#####주소를 위,경도 값으로 변환하기 #####
latitude = []
longitude =[]

for i in address:
    latitude.append(geocoding(i)[0])
    longitude.append(geocoding(i)[1])

WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x7fb02afb5c40>, 'Connection to nominatim.openstreetmap.org timed out. (connect timeout=1)')': /search?q=%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C+%EA%B4%91%EC%A7%84%EA%B5%AC+%EA%B5%AC%EC%9D%98%EA%B0%95%EB%B3%80%EB%A1%9C+106&format=json&limit=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x7fb02afb5ee0>, 'Connection to nominatim.openstreetmap.org timed out. (connect timeout=1)')': /search?q=%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C+%EA%B4%91%EC%A7%84%EA%B5%AC+%EA%B5%AC%EC%9D%98%EA%B0%95%EB%B3%80%EB%A1%9C+106&format=json&limit=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x7fb02af5f1f0>, 'Connection to nominatim.openstreetmap.org timed out. (connect timeout=1)')': /search?q=%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C+%EA%B4%91%EC%A7%84%EA%B5%AC+%EA%B5%AC%EC%9D%98%EA%B0%95%EB%B3%80%EB%A1%9C+106&format=json&limit=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x7fb02af5f670>, 'Connection to nominatim.openstreetmap.org timed out. (connect timeout=1)')': /search?q=%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C+%EA%B4%91%EC%A7%84%EA%B5%AC+%EA%B5%AC%EC%9D%98%EA%B0%95%EB%B3%80%EB%A1%9C+106&format=json&limit=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x7fb02af5f7f0>, 'Connection to nominatim.openstreetmap.org timed out. (connect timeout=1)')': /search?q=%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C+%EA%B4%91%EC%A7%84%EA%B5%AC+%EC%9A%A9%EB%A7%88%EC%82%B0%EB%A1%9C21%EA%B8%B8+27&format=json&limit=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x7fb02af5fbe0>, 'Connection to nominatim.openstreetmap.org timed out. (connect timeout=1)')': /search?q=%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C+%EA%B4%91%EC%A7%84%EA%B5%AC+%EC%9A%A9%EB%A7%88%EC%82%B0%EB%A1%9C21%EA%B8%B8+27&format=json&limit=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x7fb02af6e160>, 'Connection to nominatim.openstreetmap.org timed out. (connect timeout=1)')': /search?q=%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C+%EA%B4%91%EC%A7%84%EA%B5%AC+%EC%9A%A9%EB%A7%88%EC%82%B0%EB%A1%9C21%EA%B8%B8+27&format=json&limit=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x7fb02af6e370>, 'Connection to nominatim.openstreetmap.org timed out. (connect timeout=1)')': /search?q=%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C+%EA%B4%91%EC%A7%84%EA%B5%AC+%EC%9A%A9%EB%A7%88%EC%82%B0%EB%A1%9C21%EA%B8%B8+27&format=json&limit=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x7fb02af6e700>, 'Connection to nominatim.openstreetmap.org timed out. (connect timeout=1)')': /search?q=%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C+%EA%B4%91%EC%A7%84%EA%B5%AC+%EC%9E%90%EC%96%91%EB%A1%9C22%EA%B8%B8+24&format=json&limit=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x7fb02af5f8b0>, 'Connection to nominatim.openstreetmap.org timed out. (connect timeout=1)')': /search?q=%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C+%EA%B4%91%EC%A7%84%EA%B5%AC+%EC%9E%90%EC%96%91%EB%A1%9C22%EA%B8%B8+24&format=json&limit=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x7fb02af5fdf0>, 'Connection to nominatim.openstreetmap.org timed out. (connect timeout=1)')': /search?q=%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C+%EA%B4%91%EC%A7%84%EA%B5%AC+%EC%9E%90%EC%96%91%EB%A1%9C22%EA%B8%B8+24&format=json&limit=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x7fb02af5f9a0>, 'Connection to nominatim.openstreetmap.org timed out. (connect timeout=1)')': /search?q=%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C+%EA%B4%91%EC%A7%84%EA%B5%AC+%EC%9E%90%EC%96%91%EB%A1%9C22%EA%B8%B8+24&format=json&limit=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x7fb02af5f100>, 'Connection to nominatim.openstreetmap.org timed out. (connect timeout=1)')': /search?q=%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C+%EA%B4%91%EC%A7%84%EA%B5%AC+%EC%9A%A9%EB%A7%88%EC%82%B0%EB%A1%9C+100&format=json&limit=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x7fb02af5f280>, 'Connection to nominatim.openstreetmap.org timed out. (connect timeout=1)')': /search?q=%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C+%EA%B4%91%EC%A7%84%EA%B5%AC+%EC%9A%A9%EB%A7%88%EC%82%B0%EB%A1%9C+100&format=json&limit=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x7fb02af5f370>, 'Connection to nominatim.openstreetmap.org timed out. (connect timeout=1)')': /search?q=%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C+%EA%B4%91%EC%A7%84%EA%B5%AC+%EA%B4%91%EB%82%98%EB%A3%A8%EB%A1%9C+635&format=json&limit=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x7fb02afb5d60>, 'Connection to nominatim.openstreetmap.org timed out. (connect timeout=1)')': /search?q=%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C+%EA%B4%91%EC%A7%84%EA%B5%AC+%EA%B4%91%EB%82%98%EB%A3%A8%EB%A1%9C+635&format=json&limit=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)")': /search?q=%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C+%EA%B4%91%EC%A7%84%EA%B5%AC+%EC%95%84%EC%B0%A8%EC%82%B0%EB%A1%9C76%EA%B8%B8+31&format=json&limit=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x7fb02af5fee0>, 'Connection to nominatim.openstreetmap.org timed out. (connect timeout=1)')': /search?q=%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C+%EA%B4%91%EC%A7%84%EA%B5%AC+%EC%95%84%EC%B0%A8%EC%82%B0%EB%A1%9C76%EA%B8%B8+31&format=json&limit=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x7fb02af5fc10>, 'Connection to nominatim.openstreetmap.org timed out. (connect timeout=1)')': /search?q=%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C+%EA%B4%91%EC%A7%84%EA%B5%AC+%EA%B4%91%EB%82%98%EB%A3%A8%EB%A1%9C36%EA%B8%B8+28&format=json&limit=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x7fb02af5f370>, 'Connection to nominatim.openstreetmap.org timed out. (connect timeout=1)')': /search?q=%EC%84%9C%EC%9A%B8%ED%8A%B9%EB%B3%84%EC%8B%9C+%EA%B4%91%EC%A7%84%EA%B5%AC+%EA%B4%91%EB%82%98%EB%A3%A8%EB%A1%9C36%EA%B8%B8+28&format=json&limit=1

In [ ]:
#####Dataframe만들기######
address_df = pd.DataFrame({'학원/교습소':df['학원/교습소'], '교습과정명':df['교습과정명'],'학원명': df['학원명'],'인원':df['일시수용능력인원합계'],주소':df['도로명주소'],'위도':latitude,'경도':longitude})
address_df

SyntaxError: ignored

In [ ]:
#변환 안 된 주소값 확인
df[address_df['위도']==0]

In [ ]:
#변환 안 된 주소 추가 변환 처리
address_df.loc[address_df['학원명']=='구의이화음악교습소', '위도'] = 37.5402779
address_df.loc[address_df['학원명']=='구의이화음악교습소', '경도'] = 127.090794

address_df.loc[address_df['학원명']=='상상스튜디오미술교습소', '위도'] = 37.5657129
address_df.loc[address_df['학원명']=='상상스튜디오미술교습소', '경도'] = 127.078045

address_df.loc[address_df['학원명']=='뿌리미술교습소', '위도'] = 37.5402779
address_df.loc[address_df['학원명']=='뿌리미술교습소', '경도'] = 127.090794

address_df.loc[address_df['학원명']=='광진에이닷영어학원', '위도'] = 37.5425640
address_df.loc[address_df['학원명']=='광진에이닷영어학원', '경도'] = 127.093897

address_df.loc[address_df['학원명']=='임팩트학원', '위도'] = 37.5478575
address_df.loc[address_df['학원명']=='임팩트학원', '경도'] = 127.087826

address_df.loc[address_df['학원명']=='수학의달인해법영어학원', '위도'] = 37.5350020
address_df.loc[address_df['학원명']=='수학의달인해법영어학원', '경도'] = 127.071655

address_df.loc[address_df['학원명']=='순수미술학원', '위도'] = 37.5517207
address_df.loc[address_df['학원명']=='순수미술학원', '경도'] = 127.090524

address_df.loc[address_df['학원명']=='해법영어최선엘리트학원', '위도'] = 37.5477477
address_df.loc[address_df['학원명']=='해법영어최선엘리트학원', '경도'] = 127.090056

address_df

In [ ]:
#변환 안 된 주소값 확인
df[address_df['위도']==0]

In [ ]:
#df저장
address_df.to_csv('광진구 학원 좌표.csv',encoding='utf-8-sig',index = False)