In [1]:
import pandas as pd
import numpy as np

In [2]:
academy = pd.read_csv("../기존 입지 분석 이용 데이터/서울시 어린이보호구역 학원가 지정.csv", encoding = 'cp949')
academy

    지역구               도로명주소             시설명
0   노원구   서울시 노원구 한글비석로 232  중계미래탐구초등연재센터학원
1   노원구   서울시 노원구 한글비석로 272         중계덕스어학원
2   노원구   서울시 노원구 한글비석로 250      아발론랭콘중계어학원
3   노원구     서울시 노원구 중계로 198      하이레벨수학전문학원
4   노원구   서울시 노원구 한글비석로 232       소마사고력수학학원
5   노원구     서울시 노원구 중계로 218           청담어학원
6   노원구   서울시 노원구 한글비석로 232        중계스텔라어학원
7   노원구     서울시 노원구 중계로 202        국풍2000학원
8   노원구   서울시 노원구 한글비석로 270     올림피아드영재센터학원
9   노원구   서울시 노원구 한글비석로 231       모멘텀아스트라학원
10  노원구     서울시 노원구 중계로 218       알로곤영재센터학원
11  노원구     서울시 노원구 중계로 198      하이레벨수학전문학원
12  노원구     서울시 노원구 중계로 206           멘처스학원
13  노원구     서울시 노원구 중계로 206        중계세일입시학원
14  노원구     서울시 노원구 중계로 225   CMS중계중등영재2관학원
15  노원구     서울시 노원구 중계로 219   수학에미친사람들중계관학원
16  강남구     서울시 강남구 삼성로 341          강남최강학원
17  강남구    서울시 강남구 도곡로73길 5            새움학원
18  강남구     서울시 강남구 도곡로 505        시대인재15학원
19  강남구     서울시 강남구 도곡로 510        시대인재2관학원
20  강남구     서울시 강남구 도곡로 434        시대인재98학원
21  강남구     서울시 강남구 도곡로 428        시대인재99학원
22  강남구     서울시 강남구 도곡로 460          시대인재학원
23  강남구     서울시 강남구 삼성로 212         신어지은마학원
24  강남구     서울시 강남구 도곡로 323         씨앤씨미술학원
25  강남구     서울시 강남구 도곡로 323       프라임스템경원학원
26  강남구     서울시 강남구 도곡로 423          한티매쓰학원
27  강남구     서울시 강남구 삼성로 314          소마대치본원
28  강남구     서울시 강남구 도곡로 450          씨엔에이논술
29  강남구     서울시 강남구 도곡로 434          미래탐구학원
30  강남구  서울시 강남구 남부순환로 2935            짱솔학원
31  강남구     서울시 강남구 삼성로 155         파르테논어학원

In [ ]:
# 노원 선정 학원 정리

In [3]:
nw_all = pd.read_csv("../기존 입지 분석 이용 데이터/노원구 학원 좌표화&인원.csv")
nw_all

,학원명,도로명주소,Latitude,Longitude,정원합계,일시수용능력인원합계
0,마들단디독서실,서울특별시 노원구 동일로227길 26,37.668783,127.053725,167,167
1,청우어학원,서울특별시 노원구 동일로 1368,37.650750,127.061939,90,147
2,경희로맨틱발레(Romanticballet)무용학원,서울특별시 노원구 동일로 1393,37.652941,127.060515,60,99
3,중계새롬보습학원,서울특별시 노원구 중계로 8길 29,37.645985,127.082640,55,105
4,한샘영재보습학원,서울특별시 노원구 섬밭로 209,37.635445,127.064244,50,85
...,...,...,...,...,...,...
1443,설명수학교습소,서울특별시 노원구 한글비석로 444,37.663673,127.068542,12,7
1444,이룸해법학원,서울특별시 노원구 중계로12가길 29,37.648332,127.082910,35,83
1445,곽쌤의꽉잡는수학학원,서울특별시 노원구 노원로1길 67,37.620810,127.083602,48,92
1446,그림아트스튜디오미술교습소,서울특별시 노원구 중계로 230,37.652831,127.075926,46,9
1447,그림드림미술교습소,서울특별시 노원구 동일로192길 77,37.628081,127.076843,16,9

In [4]:
n1 = list(academy[academy['지역구'] == '노원구'].iloc[:,2])
n1

['중계미래탐구초등연재센터학원',
 '중계덕스어학원',
 '아발론랭콘중계어학원',
 '하이레벨수학전문학원',
 '소마사고력수학학원',
 '청담어학원',
 '중계스텔라어학원',
 '국풍2000학원',
 '올림피아드영재센터학원',
 '모멘텀아스트라학원',
 '알로곤영재센터학원',
 '하이레벨수학전문학원',
 '멘처스학원',
 '중계세일입시학원',
 'CMS중계중등영재2관학원',
 '수학에미친사람들중계관학원']

In [5]:
n2 = list(nw_all[nw_all['학원명'].isin(n1)].loc[:,'학원명'])
n2

['청담어학원',
 '중계세일입시학원',
 '수학에미친사람들중계관학원',
 '아발론랭콘중계어학원',
 '하이레벨수학전문학원',
 '소마사고력수학학원',
 '알로곤영재센터학원',
 '올림피아드영재센터학원',
 '중계덕스어학원']

In [6]:
nw_missing = list(set(n1)-set(n2))
nw_missing

['중계미래탐구초등연재센터학원',
 '모멘텀아스트라학원',
 '국풍2000학원',
 '중계스텔라어학원',
 '멘처스학원',
 'CMS중계중등영재2관학원']

In [7]:
for i in nw_missing :
    try:
        print(nw_all[i[:3] == nw_all['학원명'].str[:3]])
    except:
        print(i)

                 학원명                도로명주소   Latitude   Longitude  정원합계  \
37    중계미래탐구초등영재센터학원  서울특별시 노원구 한글비석로 232  37.648377  127.076929  1100
142       중계미래탐구중등학원  서울특별시 노원구 한글비석로 232  37.648377  127.076929  1660
701      중계미래탐구영재관학원  서울특별시 노원구 한글비석로 232  37.648377  127.076929   240
1031    중계미래탐구영과센터학원  서울특별시 노원구 한글비석로 232  37.648377  127.076929   740

      일시수용능력인원합계
37           191
142          662
701           83
1031         109
Empty DataFrame
Columns: [학원명, 도로명주소, Latitude, Longitude, 정원합계, 일시수용능력인원합계]
Index: []
              학원명               도로명주소   Latitude   Longitude  정원합계  일시수용능력인원합계
723  국풍2000중계1관학원  서울특별시 노원구 중계로18길 9  37.651137  127.077782   475          90
909  국풍2000중계2관학원   서울특별시 노원구 중계로 202  37.650868  127.077805   475         163
               학원명              도로명주소   Latitude   Longitude  정원합계  일시수용능력인원합계
673  중계스즈키바이올린첼로학원  서울특별시 노원구 중계로 225  37.649827  127.074332    80          43
Empty DataFrame
Columns: [학원명, 도로명주소, Latitude, Longitude, 정원합계, 일시수용능력인원합계]
Index: []
Empty DataFrame
Columns: [학원명, 도로명주소, Latitude, Longitude, 정원합계, 일시수용능력인원합계]
Index: []

In [11]:
nw_all.loc[nw_all['학원명'].str.find('국풍2000중계2관학원')>=0, '어린이보호구역여부']=1

In [12]:
nw_all[nw_all['학원명'].str.find('국풍')>=0]

,학원명,도로명주소,Latitude,Longitude,정원합계,일시수용능력인원합계,어린이보호구역여부
723,국풍2000중계1관학원,서울특별시 노원구 중계로18길 9,37.651137,127.077782,475,90,0.0
909,국풍2000중계2관학원,서울특별시 노원구 중계로 202,37.650868,127.077805,475,163,1.0
1099,국풍온원격학원,서울특별시 노원구 중계로 202,37.650868,127.077805,109989,9999,0.0

In [13]:
nw_all.loc[nw_all['학원명'].str.find('미래탐구초등영재')>=0, '어린이보호구역여부']=1

In [14]:
nw_all[nw_all['학원명'].str.find('미래탐구초등영재')>=0]

,학원명,도로명주소,Latitude,Longitude,정원합계,일시수용능력인원합계,어린이보호구역여부
37,중계미래탐구초등영재센터학원,서울특별시 노원구 한글비석로 232,37.648377,127.076929,1100,191,1.0

In [15]:
nw_all.loc[nw_all['학원명'].isin(n1),'어린이보호구역여부']=1

In [16]:
nw_all['어린이보호구역여부'].fillna(0, inplace=True)

In [17]:
nw_all.rename(columns = {'Latitude' : '위도', 'Longitude' : '경도'}, inplace = True)

In [18]:
nw_all

,학원명,도로명주소,위도,경도,정원합계,일시수용능력인원합계,어린이보호구역여부
0,마들단디독서실,서울특별시 노원구 동일로227길 26,37.668783,127.053725,167,167,0.0
1,청우어학원,서울특별시 노원구 동일로 1368,37.650750,127.061939,90,147,0.0
2,경희로맨틱발레(Romanticballet)무용학원,서울특별시 노원구 동일로 1393,37.652941,127.060515,60,99,0.0
3,중계새롬보습학원,서울특별시 노원구 중계로 8길 29,37.645985,127.082640,55,105,0.0
4,한샘영재보습학원,서울특별시 노원구 섬밭로 209,37.635445,127.064244,50,85,0.0
...,...,...,...,...,...,...,...
1443,설명수학교습소,서울특별시 노원구 한글비석로 444,37.663673,127.068542,12,7,0.0
1444,이룸해법학원,서울특별시 노원구 중계로12가길 29,37.648332,127.082910,35,83,0.0
1445,곽쌤의꽉잡는수학학원,서울특별시 노원구 노원로1길 67,37.620810,127.083602,48,92,0.0
1446,그림아트스튜디오미술교습소,서울특별시 노원구 중계로 230,37.652831,127.075926,46,9,0.0
1447,그림드림미술교습소,서울특별시 노원구 동일로192길 77,37.628081,127.076843,16,9,0.0

## 학원 - 본인 위치 기준으로 : 근처 500m 이내(도보 8분) 학원 수, 학원 정원 합, 휴게음식점 수, 교통사고 건수, 횡단보도 개수 (top 이 후보) -> mlcp

In [48]:
# longtitude 경도 latitude 위도

In [19]:
!pip install haversine

Requirement already satisfied: haversine in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (2.8.0)

[notice] A new release of pip is available: 23.1.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip

In [20]:
# 프로그레스바 라이브러리 설치
pip install tqdm

Requirement already satisfied: tqdm in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (4.65.0)

[notice] A new release of pip is available: 23.1.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [21]:
from tqdm import tqdm
from tqdm import trange

In [22]:
from haversine import haversine

In [193]:
<<예시 모아둔 BLOCK>>

# haversine 사용법 usage example   
kyobo = (37.504030, 127.024099) # 교보 문고 위도/경도
gangnam = (37.497175,127.027926) # 강남역 위도/경도
haversine(kyobo, gangnam) * 1000 # km to m

# tuple usage example
location1 = tuple([data.loc[0, '위도'], data.loc[0, '경도']])
location1

# 열 삭제
data.drop(labels = '학원수', axis = 1)

NameError: name 'data' is not defined

In [23]:
data = nw_all.copy()

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1448 entries, 0 to 1447
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   학원명         1448 non-null   object
 1   도로명주소       1448 non-null   object
 2   위도          1448 non-null   float64
 3   경도          1448 non-null   float64
 4   정원합계        1448 non-null   int64
 5   일시수용능력인원합계  1448 non-null   int64
 6   어린이보호구역여부   1448 non-null   float64
dtypes: float64(3), int64(2), object(2)
memory usage: 79.3+ KB

In [25]:
# 주소 없는 학원 제거
data.dropna(subset = ['위도'], inplace = True)

In [26]:
# 둘다 00인 학원 삭제
idx = list(data[data['일시수용능력인원합계']+data['정원합계']<=0].index)
data.drop(idx, axis=0, inplace=True)

In [27]:
# 인원 결측치 삭제

data[data['일시수용능력인원합계'].isna()]
data.dropna(subset = ['일시수용능력인원합계'], inplace = True)

In [28]:
# 일시수용 & 정원합계 비교 후 적은 값으로
data.loc[data['정원합계'] >= data['일시수용능력인원합계'], '인원'] = data['일시수용능력인원합계']
data.loc[data['정원합계'] < data['일시수용능력인원합계'], '인원'] = data['정원합계']

In [29]:
data = data.reset_index(drop=True)

In [30]:
data

,학원명,도로명주소,위도,경도,정원합계,일시수용능력인원합계,어린이보호구역여부,인원
0,마들단디독서실,서울특별시 노원구 동일로227길 26,37.668783,127.053725,167,167,0.0,167.0
1,청우어학원,서울특별시 노원구 동일로 1368,37.650750,127.061939,90,147,0.0,90.0
2,경희로맨틱발레(Romanticballet)무용학원,서울특별시 노원구 동일로 1393,37.652941,127.060515,60,99,0.0,60.0
3,중계새롬보습학원,서울특별시 노원구 중계로 8길 29,37.645985,127.082640,55,105,0.0,55.0
4,한샘영재보습학원,서울특별시 노원구 섬밭로 209,37.635445,127.064244,50,85,0.0,50.0
...,...,...,...,...,...,...,...,...
1443,설명수학교습소,서울특별시 노원구 한글비석로 444,37.663673,127.068542,12,7,0.0,7.0
1444,이룸해법학원,서울특별시 노원구 중계로12가길 29,37.648332,127.082910,35,83,0.0,35.0
1445,곽쌤의꽉잡는수학학원,서울특별시 노원구 노원로1길 67,37.620810,127.083602,48,92,0.0,48.0
1446,그림아트스튜디오미술교습소,서울특별시 노원구 중계로 230,37.652831,127.075926,46,9,0.0,9.0
1447,그림드림미술교습소,서울특별시 노원구 동일로192길 77,37.628081,127.076843,16,9,0.0,9.0

In [31]:
# 해당 학원 기준 반경 500m 학원 수 총합 counting
for i in range(len(data)) :
    cnt = 0
    location1 = tuple([data.loc[i, '위도'], data.loc[i, '경도']])
    for j in range(len(data)):
        if i==j:
            continue
        else:
            location2 = tuple([data.loc[j, '위도'], data.loc[j, '경도']])
            if haversine(location1, location2)*1000<=500 :
                cnt += 1
    data.loc[i, '근처학원수'] = cnt-1

In [32]:
# 해당 학원 기준 반경 500m 학원수강생 총합 counting

for i in range(len(data)) :
    s = 0
    location1 = tuple([data.loc[i, '위도'], data.loc[i, '경도']])
    for j in range(len(data)):
        if i==j:
            continue
        else:
            location2 = tuple([data.loc[j, '위도'], data.loc[j, '경도']])
            if haversine(location1, location2)*1000<=500 :             
                s += data.loc[j, '인원']
    data.loc[i, '근처수강생총합'] = s

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1448 entries, 0 to 1447
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   학원명         1448 non-null   object
 1   도로명주소       1448 non-null   object
 2   위도          1448 non-null   float64
 3   경도          1448 non-null   float64
 4   정원합계        1448 non-null   int64
 5   일시수용능력인원합계  1448 non-null   int64
 6   어린이보호구역여부   1448 non-null   float64
 7   인원          1448 non-null   float64
 8   근처학원수       1448 non-null   float64
 9   근처수강생총합     1448 non-null   float64
dtypes: float64(6), int64(2), object(2)
memory usage: 113.2+ KB

In [35]:
store = pd.read_csv("../기존 입지 분석 이용 데이터/노원구 휴게음식점.csv", encoding = "cp949")
store

                                   지번주소  업태구분명         위도          경도
0                서울특별시 노원구 상계동 649-6 1층  패스트푸드  37.665311  127.057998
1                 서울특별시 노원구 상계동 389-125    편의점  37.661261  127.070648
2                서울특별시 노원구 상계동 456-51번지    편의점  37.664118  127.066333
3                  서울특별시 노원구 상계동 669 1층  패스트푸드  37.661583  127.057097
4              서울특별시 노원구 월계동 50-29번지 1층  패스트푸드  37.614907  127.064051
..                                  ...    ...        ...         ...
819            서울특별시 노원구 상계동 406-5 102호    커피숍  37.660111  127.066561
820      서울특별시 노원구 상계동 751-1 상계주공4단지아파트    편의점  37.650310  127.066641
821        서울특별시 노원구 중계동 360-11 하나프라자빌딩    커피숍  37.648776  127.076317
822  서울특별시 노원구 월계동 648 인덕대학교,인덕과학기술고등학교    커피숍  37.631375  127.055555
823     서울특별시 노원구 중계동 364-19 삼부프라자 119호    편의점  37.649221  127.076958

[824 rows x 4 columns]

In [36]:
# 근처 상점 counting (유동인구)
for i in range(len(data)) :
    s = 0
    location1 = tuple([data.loc[i, '위도'], data.loc[i, '경도']])
    for j in range(len(store)):
        location2 = tuple([store.loc[j, '위도'], store.loc[j, '경도']])
        if haversine(location1, location2)*1000<=500 :
            s += 1
    data.loc[i, '근처휴게음식점수'] = s

In [39]:
# 근처 횡단보도 counting
crosswalk = pd.read_csv("../기존 입지 분석 이용 데이터/노원구 횡단보도 중앙값.csv")
crosswalk

     노드링크 유형 시군구명 읍면동명         위도          경도
0       NODE  노원구  상계동  37.670927  127.051183
1       NODE  노원구  상계동  37.648809  127.062050
2       LINK  노원구  상계동  37.655705  127.060531
3       NODE  노원구  상계동  37.648902  127.062395
4       LINK  노원구  하계동  37.634548  127.065981
...      ...  ...  ...        ...         ...
1160    NODE  노원구  중계동  37.641621  127.068245
1161    LINK  노원구  월계동  37.623827  127.068273
1162    LINK  노원구  중계동  37.641289  127.065830
1163    NODE  노원구  상계동  37.654416  127.060346
1164    LINK  노원구  중계동  37.657992  127.075106

[1165 rows x 5 columns]

In [41]:
for i in range(len(data)) :
    s = 0
    location1 = tuple([data.loc[i, '위도'], data.loc[i, '경도']])
    for j in range(len(crosswalk)):
        location2 = tuple([crosswalk.loc[j, '위도'], crosswalk.loc[j, '경도']])
        if haversine(location1, location2)*1000<=500 :
            s += 1
    data.loc[i, '근처횡단보도수'] = s

In [42]:
# 근처 사고 counting
accident = pd.read_csv("../기존 입지 분석 이용 데이터/노원구 2012_2019_교통사망사고.csv", encoding = "cp949")
accident

     지역구   발생년 주야 요일  사망자수  사상자수  중상자수  경상자수  부상신고자수          경도         위도
0    노원구  2012  주  수     1     1     0     0       0  127.057248  37.664438
1    노원구  2013  주  월     1     1     0     0       0  127.082736  37.634174
2    노원구  2013  야  화     1     1     0     0       0  127.094758  37.626275
3    노원구  2012  야  화     1     1     0     0       0  127.060540  37.654176
4    노원구  2013  야  월     1     2     1     0       0  127.062640  37.647883
..   ...   ... .. ..   ...   ...   ...   ...     ...         ...        ...
98   노원구  2019  야  월     1     0     0     0       0  127.078804  37.618693
99   노원구  2019  야  금     1     0     0     0       0  127.060662  37.654564
100  노원구  2019  주  화     1     1     0     1       0  127.075622  37.663406
101  노원구  2019  주  수     1     0     0     0       0  127.079064  37.680238
102  노원구  2019  야  토     1     0     0     0       0  127.070635  37.645289

[103 rows x 11 columns]

In [44]:
# 근처 사고 counting
for i in range(len(data)) :
    s = 0
    location1 = tuple([data.loc[i, '위도'], data.loc[i, '경도']])
    for j in range(len(accident)):
        location2 = tuple([accident.loc[j, '위도'], accident.loc[j, '경도']])
        if haversine(location1, location2)*1000<=500 :
            s = s + sum(accident.loc[j, ['사망자수','중상자수','경상자수','부상신고자수']])
    data.loc[i, '사고건수'] = s

In [45]:
data

,학원명,도로명주소,위도,경도,정원합계,일시수용능력인원합계,어린이보호구역여부,인원,근처학원수,근처수강생총합,근처휴게음식점수,근처횡단보도수,사고건수
0,마들단디독서실,서울특별시 노원구 동일로227길 26,37.668783,127.053725,167,167,0.0,167.0,65.0,3132.0,24.0,35.0,5.0
1,청우어학원,서울특별시 노원구 동일로 1368,37.650750,127.061939,90,147,0.0,90.0,94.0,8824.0,70.0,40.0,5.0
2,경희로맨틱발레(Romanticballet)무용학원,서울특별시 노원구 동일로 1393,37.652941,127.060515,60,99,0.0,60.0,94.0,10192.0,88.0,69.0,4.0
3,중계새롬보습학원,서울특별시 노원구 중계로 8길 29,37.645985,127.082640,55,105,0.0,55.0,51.0,2339.0,19.0,23.0,0.0
4,한샘영재보습학원,서울특별시 노원구 섬밭로 209,37.635445,127.064244,50,85,0.0,50.0,46.0,2667.0,28.0,64.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1443,설명수학교습소,서울특별시 노원구 한글비석로 444,37.663673,127.068542,12,7,0.0,7.0,85.0,3091.0,56.0,48.0,3.0
1444,이룸해법학원,서울특별시 노원구 중계로12가길 29,37.648332,127.082910,35,83,0.0,35.0,72.0,2988.0,29.0,30.0,0.0
1445,곽쌤의꽉잡는수학학원,서울특별시 노원구 노원로1길 67,37.620810,127.083602,48,92,0.0,48.0,61.0,1994.0,38.0,50.0,13.0
1446,그림아트스튜디오미술교습소,서울특별시 노원구 중계로 230,37.652831,127.075926,46,9,0.0,9.0,408.0,56424.0,52.0,67.0,4.0
1447,그림드림미술교습소,서울특별시 노원구 동일로192길 77,37.628081,127.076843,16,9,0.0,9.0,31.0,1852.0,58.0,52.0,5.0

In [46]:
nw_all = data.copy()

In [47]:
nw_all.to_csv('노원구데이터프레임.csv',index=False)

In [49]:
# 근처 사고 counting
nw = pd.read_csv("노원구데이터프레임.csv")
nw

,학원명,도로명주소,위도,경도,정원합계,일시수용능력인원합계,어린이보호구역여부,인원,근처학원수,근처수강생총합,근처휴게음식점수,근처횡단보도수,사고건수
0,마들단디독서실,서울특별시 노원구 동일로227길 26,37.668783,127.053725,167,167,0.0,167.0,65.0,3132.0,24.0,35.0,5.0
1,청우어학원,서울특별시 노원구 동일로 1368,37.650750,127.061939,90,147,0.0,90.0,94.0,8824.0,70.0,40.0,5.0
2,경희로맨틱발레(Romanticballet)무용학원,서울특별시 노원구 동일로 1393,37.652941,127.060515,60,99,0.0,60.0,94.0,10192.0,88.0,69.0,4.0
3,중계새롬보습학원,서울특별시 노원구 중계로 8길 29,37.645985,127.082640,55,105,0.0,55.0,51.0,2339.0,19.0,23.0,0.0
4,한샘영재보습학원,서울특별시 노원구 섬밭로 209,37.635445,127.064244,50,85,0.0,50.0,46.0,2667.0,28.0,64.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1443,설명수학교습소,서울특별시 노원구 한글비석로 444,37.663673,127.068542,12,7,0.0,7.0,85.0,3091.0,56.0,48.0,3.0
1444,이룸해법학원,서울특별시 노원구 중계로12가길 29,37.648332,127.082910,35,83,0.0,35.0,72.0,2988.0,29.0,30.0,0.0
1445,곽쌤의꽉잡는수학학원,서울특별시 노원구 노원로1길 67,37.620810,127.083602,48,92,0.0,48.0,61.0,1994.0,38.0,50.0,13.0
1446,그림아트스튜디오미술교습소,서울특별시 노원구 중계로 230,37.652831,127.075926,46,9,0.0,9.0,408.0,56424.0,52.0,67.0,4.0
1447,그림드림미술교습소,서울특별시 노원구 동일로192길 77,37.628081,127.076843,16,9,0.0,9.0,31.0,1852.0,58.0,52.0,5.0